:root{
    --bg-main-color: rgb(58, 58, 170);
    --bg-second-color: rgb(44, 137, 58);
    --font-main-color: rgb(255, 251, 0);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;

    height: 100vh;
    width: 100%;

    background-color: var(--bg-main-color);
    animation: changeColor 4s ease infinite;
}

 .form1{
    height: 20vh;
    width: 20vh;
    background-color: var(--bg-main-color);
    text-align: center;
    vertical-align: middle;
    line-height: 20vh;

    background-color: white;

    animation: 2s ease infinite scrolling;
}

@keyframes scrolling{
    100%{
        transform: rotate(90deg);
    }
}

@keyframes changeColor {
    0%, 100% {
        background-color: var(--bg-main-color);
    }
    50%{
        background-color: var(--bg-second-color);
    }
}