.tasks {
    height: calc(100vh - 210px);
    overflow: auto;
    border: 5px solid rgba(255, 255, 255, 0);
    padding: 0 10px;

    li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: var(--font-size-text);
        padding: 6px;
        margin-bottom: 5px;
        border-bottom: 1px solid var(--bg-color-second);
    }
}

button {
    background-color: var(--bg-color-second);
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
    cursor: pointer;
    font-size: var(--font-size-text);
    transition: background-color 0.3s ease;
    margin: 0 1rem;
    &:hover {
        background-color: var(--bg-color-main);
    }
}


.done{
    text-decoration: line-through;
}