:root{
    --bg-main: #428150;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: 'Franklin Gothic Medium';
}

body{
    background-image: url("images/timofey.jpg");

    /* backdrop-filter: blur(8px); */

    height: 100vh;
  
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

