*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: 'Franklin Gothic Medium', 'Lucida Console';
}


body{
  background: var(--bg-dark);
  backdrop-filter: blur(7px);

  min-height: 100vh;

  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

div, ol, li{
  margin: 5px 0;
  padding: 6px;
}

.bg_color{
  background-color: var(--bg-color-main);
}
.bg_color2{
  background-color: var(--bg-color-second);
}